main,
header {
  padding: 1rem;
}

header {
  max-height: 20vh;
}

header h1 {
  text-align: center;
}

main#container--employeeDetails {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.inner-container {
  background-color: white;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.2), 0 0.25rem 1.25rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.875rem;
  width: 90%;
  border-radius: 0.3125rem;
}

.details-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}

.user-details-row {
  display: flex;
  align-items: center;
  width: 50%;
}

.user-details-row h5,
.user-details-row p {
  font-size: 1rem;
  font-weight: 500;
}

.user-details-row h5 {
  flex: 1 1 10%;
  color: var(--gray-600);
}

.user-details-row p {
  color: var(--gray-900);
  flex: 1 1 50%;
  line-height: 1.5;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}
