main,
header {
  padding: 16px;
}

header h1 {
  text-align: center;
  color: var(--gray-900);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.header--btns {
  display: flex;
  justify-content: flex-end;
}

.btn--download {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

a {
  text-decoration: none;
}

.card {
  border: 1px solid #c7c7c7;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  color: black;
  cursor: pointer;
  background-color: #fefefe;
}

.card:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

.card--title h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: var(--gray-900);
}

.card--body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.card--body .user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: 500;
}

.card--body .user-details h5 {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--gray-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card--body .user-details p {
  font-size: 0.8rem;
  color: var(--gray-900);
}

.btn--delete {
  margin-top: auto;
}
